<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <div class="loader">
        Работай
     </div>
     
     <section class="main">
         <h1>Мобільні телефони</h1>
         <p>
             <ul>
             <li><a href="http://localhost:3000/phone/1">Motorola E7</a></li>
             <li><a href="http://localhost:3000/phone/2">Xiaomi 11T</a></li>
             <li><a href="http://localhost:3000/phone/3">Samsung M526</a></li>
             <li><a href="http://localhost:3000/phone/4">Samsung G998</a></li>
             <li><a href="http://localhost:3000/phone/5">Samsung G780</a></li>
             </ul>
         </p>
     </section>
     <script src="./main.js"></script>
</body>
</html>